Include ~/.ssh/ssh_config_private
PubkeyAcceptedKeyTypes +ssh-rsa

Host *
   IgnoreUnknown UseKeychain
   UseKeychain yes
   AddKeysToAgent yes
   IdentityFile ~/.ssh/id_rsa

Host beta.nixbuild.net
  PubkeyAcceptedKeyTypes ssh-ed25519
  IdentityFile ~/.ssh/nixbuild-key


